*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', 'sans-serif';
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(images/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 0.5s;
}

.img-box:nth-child(2){
    background: url(images/2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3){
    background: url(images/3.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4){
    background: url(images/4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
    width: 600px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 25px;

}